.load-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный черный фон */
    color: white; /* Белый текст */
    font-size: 24px; /* Размер шрифта */
    z-index: 1000; /* Обеспечивает, что элемент будет над другими элементами */
  }

  @keyframes slideOut {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }

  .load-screen.hidden {
    pointer-events: none; /* Отключение событий указателя */
    z-index: -999;
    animation: slideOut 0.5s forwards;
  }