.page-social {
    position: absolute;
    display: flex; /* Добавлено для центровки дочерних элементов */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    background-color: #e20000;
    z-index: 100;
    background-image: url('../Photoes/FonSocial.jpeg'); /* Укажите путь к вашему изображению */
    background-size: cover; /* Изображение будет покрывать всю область */
    background-position: center; /* Центрировать изображение */
    background-repeat: no-repeat;
}

.page-social::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный слой для затемнения */
    z-index: 1;
}

.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90vw; /* Увеличиваем ширину контейнеров */
    height: 7vh; /* Устанавливаем высоту контейнеров */
    margin-top: 10px;
    padding: 10px; /* Увеличиваем внутренние отступы */
    background-color: rgba(77, 77, 77, 0.2);
    border-image-slice: 1; 
    border-width: 3px;
    border-image-repeat: round;
    border-image-source: url('../Photoes/SteelTexture.jpg'); /* Простое изображение для теста */
    border-image-outset: 0;
    color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 3;
    font-size: 1.5em; /* Увеличиваем размер текста */
    font-weight: bold;
    backdrop-filter: blur(1px); /* Эффект размытия фона */
    -webkit-backdrop-filter: blur(1px);
    transition: all 0.1s ease;
    text-decoration: none; /* Убираем подчеркивание ссылок */
    outline: none;
}
.social-item:active {
    transform: translateY(1px); /* Сдвиг кнопки при нажатии */
    text-decoration: none;
  }
  .social-item:hover,
  .social-item:focus {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    outline: none;
  }

  
  .social-item.checking {
    border: 3px solid #cbfff8; /* Желтая рамка при проверке */
    animation: soft-pulse 1s infinite ease-in-out;
}

@keyframes soft-pulse {
    0%, 100% {
        box-shadow: 0 0 7px #cffff9;
    }
    50% {
        box-shadow: 0 0 13px #cffff9;
    }
}

.social-item.checked {
    border-image-slice: 1; 
    border-width: 3px;
    border-image-repeat: round;
    border-image-source: url('../Photoes/SteelTexture.jpg'); /* Простое изображение для теста */
    border-image-outset: 0;
    
    /* Текстура для текста */
    background: url('../Photoes/SteelTexture.jpg') center/cover no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Делаем текст прозрачным, чтобы был виден фон */
    -webkit-text-fill-color: transparent; /* Применяем для WebKit браузеров */
}

.page-social.hidden {
    opacity: 0;
    pointer-events: none;
    z-index: -10;
}
