@font-face {
    font-family: 'Grunger';
    src: url('../Fonts/Grunger.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AnimalesFantastic';
    src: url('../Fonts/AnimalesFantastic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BreatheFire';
    src: url('../Fonts/BreatheFire.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LeagueGothic';
    src: url('../Fonts/LeagueGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.page-shop {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #8f8f8f;
    z-index: 100;
    background-size: cover; /* Изображение будет покрывать всю область */
    background-position: center; /* Центрировать изображение */
    background-repeat: no-repeat;
}

.page-shop.hidden {
    opacity: 0;
    pointer-events: none;
    z-index: -10;
}

.shop-title {
    position: absolute;
    text-align: center;
    z-index: 2;
    width: 100vw;
    height: 15vh;
    left: 0%;
    top: 3vh;
    margin-bottom: 50px;
    font-size: 48px;
    color: aliceblue;
    font-family: 'Grunger', sans-serif;
}
.shop-title.WildHearts {
    background: url('../Photoes/WarmSteel.jpg') center/cover; /* Используем текстуру золота */
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    font-family: 'BreatheFire', sans-serif;
    font-size: 70px;
}
.shop-title.DireWarriors {
    background: url('../Photoes/ColdSteel.jpg') center/cover; /* Используем текстуру золота */
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    font-family: 'AnimalesFantastic', sans-serif;
    font-size: 40px;
}
.shop-list {
    position: absolute;
    z-index: 2;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 100vw;
    height: 20vh;
    top: 18vh;
    left: 0;
    font-size: 24px;
}

.list-item {
    font-family: 'LeagueGothic', Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 15px;
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}


.buy-button {
    position: absolute;
    bottom: 20%;
    left: 10%;
    width: 80%; /* Кнопка занимает всю ширину контейнера */
    height: 100px; /* Высота кнопки */
    background-color: #ff3ef9; /* Цвет кнопки */
    color: white; /* Цвет текста кнопки */
    border: none;
    cursor: pointer;
    font-size: 28px;
    text-align: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7); /* Затемнение фона */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #0C0C0C;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 60%;
    height: 40%;
    transform: translateY(-20%);
    display: flex;
    flex-direction: column; /* Размещаем элементы вертикально */
    justify-content: space-between;
}

.modal-input {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-content button {
    padding: 10px 20px;
    background-color: #919191;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}




.button-container {
    display: flex;
    justify-content: space-between; /* Расположите кнопки по краям */
    padding: 10px 0;
    margin-top: 20px;
}

.promo-button, .donate-button {
    background-color: #ff3ef9; /* Цвет кнопок */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    flex-grow: 1; /* Кнопки будут равной ширины */
    margin: 0 5px;
    transition: background-color 0.3s ease;
}