@font-face {
    font-family: 'Grunger';
    src: url('../Fonts/Grunger.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AnimalesFantastic';
    src: url('../Fonts/AnimalesFantastic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BreatheFire';
    src: url('../Fonts/BreatheFire.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LeagueGothic';
    src: url('../Fonts/LeagueGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.page-shop {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #8f8f8f;
    z-index: 100;
    background-size: cover; /* Изображение будет покрывать всю область */
    background-position: center; /* Центрировать изображение */
    background-repeat: no-repeat;
}

.page-shop.hidden {
    opacity: 0;
    pointer-events: none;
    z-index: -10;
}

.shop-title {
    position: absolute;
    text-align: center;
    z-index: 2;
    width: 100vw;
    height: 15vh;
    left: 0%;
    top: 3vh;
    margin-bottom: 50px;
    font-size: 48px;
    color: aliceblue;
    font-family: 'Grunger', sans-serif;
}
.shop-title.WildHearts {
    background: url('../Photoes/WarmSteel.jpg') center/cover; /* Используем текстуру золота */
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    font-family: 'BreatheFire', sans-serif;
    font-size: 70px;
}
.shop-title.DireWarriors {
    background: url('../Photoes/ColdSteel.jpg') center/cover; /* Используем текстуру золота */
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    font-family: 'AnimalesFantastic', sans-serif;
    font-size: 40px;
}
.shop-list {
    position: absolute;
    z-index: 2;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 100vw;
    height: 20vh;
    top: 18vh;
    left: 0;
    font-size: 24px;
}

.list-item {
    font-family: 'LeagueGothic', Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 15px;
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}




.button-container {
    position: absolute;
    top: 50vh;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly; /* Расположите кнопки по краям */
    padding: 20px 0px;
    margin-top: 20px;
}


.promo-button, .donate-button {
    background-color: rgba(0, 0, 0, 0.2); /* Цвет кнопок */
    color: white;
    font-family: 'LeagueGothic', Helvetica, sans-serif;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 30px;
    width: 40%; /* Кнопки будут равной ширины */
    margin: 0 5px;
    transition: background-color 0.3s ease;
    height: 100%; /* Кнопки будут иметь ту же высоту, что и контейнер */
    display: flex;
    align-items: center; /* Центрирование текста по вертикали */
    justify-content: center; /* Центрирование текста по горизонтали */
    backdrop-filter: blur(1px);
    box-shadow: 
        4px 8px 12px rgba(0, 0, 0, 0.5),   /* Нижняя тень */
        8px 16px 24px rgba(0, 0, 0, 0.3),  /* Более размытая нижняя тень */
        -4px -8px 12px rgba(0, 0, 0, 0.5), /* Верхняя тень */
        -8px -16px 24px rgba(0, 0, 0, 0.3); 
}
.promo-button:active, .donate-button:active {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 
        2px 4px 6px rgba(0, 0, 0, 0.6), 
        4px 8px 10px rgba(0, 0, 0, 0.4),
        -2px -4px 6px rgba(0, 0, 0, 0.6), 
        -4px -8px 10px rgba(0, 0, 0, 0.4); /* Меньшая тень при нажатии */
    transform: translateY(3px); /* Сдвиг при нажатии для эффекта нажатия */
}

.modal-overlay.promo, .modal-overlay.donate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Затемнение фона */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Модальное окно поверх всего */
}

.modal-content.donate {
    background: #0B1215;
    position: relative;
    border: 1px solid #4a4a4a;
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 18px;
    border-radius: 10px;
    text-align: center;
    width: 220px;
    height: 240px;
    transform: translateY(-15%);
    display: flex;
    align-items: center;
    flex-direction: column; /* Размещаем элементы вертикально */
    justify-content: space-evenly;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* Глубокая тень */
    animation: expand 0.3s ease-out;
}
.modal-content.promo {
    background-size: cover; /* Изображение будет покрывать всю область */
    background-position: center; /* Центрировать изображение */
    background-repeat: no-repeat;
    position: relative;
    border: 1px solid #4a4a4a;
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 18px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    height: 160px;
    transform: translateY(-15%);
    display: flex;
    align-items: center;
    flex-direction: column; /* Размещаем элементы вертикально */
    justify-content: space-around;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* Глубокая тень */
    animation: expand 0.3s ease-out;
}

@keyframes expand {
    0% { transform: translateY(0%) scale(0.8); opacity: 0.5; }
    100% { transform: translateY(-15%) scale(1); opacity: 1; }
}
@keyframes vibrate {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-4px); }
    40%, 80% { transform: translateX(4px); }
}

.vibrate {
    animation: vibrate 0.3s linear;
}

.modal-content.promo h2 {
    color: #e0e0e0;
    margin: 0; /* Убираем отступы сверху и снизу */
    font-size: 22px;
    text-shadow: 1px 1px 5px #000;
}

.modal-input {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    background-color: #e1e1e1;
    border: 1px solid #ccc;
    margin: 0 auto; /* Центрирование по горизонтали */
}

.modal-button.donate, .modal-button.promo {
    background-color: #333; /* Темная кнопка */
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    height: 25%; /* Кнопка занимает 10% высоты модального окна */
    width: 50%;
    align-self: center; /* Центрируем кнопку по горизонтали */
    display: flex; /* Включаем Flexbox */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    text-align: center;
}