.page-shop {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #8f8f8f;
    z-index: 100;
    background-image: url('../Photoes/DarkWolfBack.jpg'); /* Укажите путь к вашему изображению */
    background-size: cover; /* Изображение будет покрывать всю область */
    background-position: center; /* Центрировать изображение */
    background-repeat: no-repeat;
}

.page-shop.hidden {
    opacity: 0;
    pointer-events: none;
    z-index: -10;
}

.shop-title {
    position: absolute;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    z-index: 2;
    width: 100vw;
    height: 10vh;
    overflow: hidden;
    left: 0%;
    top: 0%;
}
.shop-list {
    position: absolute;
    z-index: 2;
    list-style: circle;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 100%;
    font-size: 24px;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    background-color: transparent;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.shop-item span {
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}