.load-screen-container {
    position: absolute;
    left: 0%;
    top: 0%;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.load-screen-container.hidden {
    z-index: -100;
    pointer-events: none;
}