.image-container {
    width: 50vw;
    height: 35vh;
    overflow: hidden;
    transition: left 1.2s ease, right 1.2s ease, transform 0.02s;
    background: none;
    border: none;
  }

.image-container img {
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* Пример дополнительных классов для конкретной стилизации */
.image-container.harris-image {
  position: absolute;
  left: var(--harris-left, 0vw);
  bottom: var(--harris-bottom, 25vh);
  overflow: hidden;
}

.image-container.trump-image {
  position: absolute;
  right: var(--trump-left, 0vw);
  bottom: var(--trump-bottom, 25vh);
  overflow: hidden;
}

.image-container.selected:active {
  transition: transform 0.02s;
  transform: scale(0.95); /* Применяется только если выбор сделан */
}
