/* Count.css */
.count-container {
    position: absolute;
    color: #22ff00;
    height: 10%;
    width: 50%;
    font-size: 20px;
    top: 8%;
}
.count-container.TR {
    right: 4%;
    text-align: right;
}
.count-container.HS {
    left: 4%;
    text-align: left;
}