/* Count.css */
@font-face {
    font-family: 'LeagueGothic';
    src: url('../Fonts/LeagueGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.count-container {
    position: absolute;
    color: #ffffff;
    height: 10%;
    width: 50%;
    font-size: 24px;
    top: 15px;
    font-family: 'LeagueGothic', Helvetica, sans-serif;
}
.count-container.TR {
    right: 3%;
    text-align: right;
    line-height: 1;
}
.count-container.HS {
    left: 3%;
    text-align: left;
    line-height: 1;
}