@font-face {
    font-family: 'GTA';
    src: url('../Fonts/GTA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.personal-count {
    text-align: left;
    position: absolute;
    bottom: 10%;
    left: 3%;
    width: 97%;
    height: 10%;
    color: rgb(255, 255, 255);
    font-family: 'GTA', sans-serif;
    font-size: 24px;
}

.personal-count p {
    margin: 0; /* Убираем внешний отступ */
    padding: 0; /* Убираем внутренний отступ */
    line-height: 0.8; /* Устанавливаем меньший интервал между строками */
}
