@font-face {
    font-family: 'LeagueGothic';
    src: url('../Fonts/LeagueGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.personal-count {
    text-align: left;
    position: absolute;
    bottom: 9vh;
    left: 3%;
    width: 97%;
    height: 10%;
    color: rgb(255, 255, 255);
    font-family: 'LeagueGothic', Helvetica, sans-serif;
    font-size: 24px;
    z-index: -1;
}

.personal-count p {
    margin: 0; /* Убираем внешний отступ */
    padding: 0; /* Убираем внутренний отступ */
    line-height: 1.1; /* Устанавливаем меньший интервал между строками */
}
