.page-inventory {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки одинаковой ширины */
    gap: 2vw 0.5vw; /* Уменьшенное расстояние между карточками */
    justify-content: center; /* Центрирование карточек внутри контейнера */
    align-content: start; /* Выровняем строки карточек ближе к верху */
    padding: 1vh 0; /* Уменьшенный верхний и нижний отступ внутри контейнера */
    height: 100vh;
    width: 100vw;
    background-color: #5d5d5d;
    z-index: 100;
    background-image: url('../Photoes/LavaBack.jpg'); /* Укажите путь к вашему изображению */
    background-size: cover; /* Изображение будет покрывать всю область */
    background-position: center; /* Центрировать изображение */
    background-repeat: no-repeat;
    box-sizing: border-box; /* Включаем box-sizing для правильного расчета размеров */
}

.page-inventory.hidden {
    opacity: 0;
    pointer-events: none;
    z-index: -10;
}

.card {
    border: 2px solid #3a3a3a;
    border-radius: 10px;
    width: calc(100% - 1vw); /* Учитываем gap, чтобы карточки не выходили за края */
    max-width: 31vw; /* Ограничение максимальной ширины */
    height: 20vh;
    background-color: rgba(102, 102, 102, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto; /* Центрирование карточек в колонке */
    transition: transform 0.3s ease-in-out;
}
.card:active {
    transform: scale(0.98);
}

.card.chosen {
    border-image-slice: 1; /* Включаем всю область изображения для рамки */
    border-width: 3px;
    border-image-repeat: round;
    border-image-source: url('../Photoes/SteelTexture.jpg');
    border-image-outset: 0;
}

.card-image {
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-bottom: -10px;
    pointer-events: none;
}

.card-title {
    font-size: 1em;
    color: #9c9c9c;
    text-align: center;
    margin-bottom: -10px;
}
.card.chosen .card-title {
    background: url('../Photoes/SteelTexture.jpg') center/cover; /* Используем текстуру золота */
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}


.card.locked {
    filter: grayscale(100%); /* Затемнение заблокированных карточек */
    cursor: not-allowed; /* Запрещаем выбор заблокированных карточек */
    position: relative;
}

.card.locked .lock-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный слой */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card.locked .lock-icon {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    pointer-events: none;
}


/* Модальное окно и затемнение фона */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Затемнение фона */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Модальное окно поверх всего */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 80%;
}
.modal-content .card {
    width: 200px; /* Размер карточки в модальном окне */
    margin: 20px auto; /* Центрируем карточку */
    pointer-events: none;
}

.modal-content .card-image {
    width: 100%;
    height: auto; /* Подгоняем изображение под размер карточки */
}

.modal-content .card-title {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
}


.modal-content h2 {
    margin-top: 0;
}

.modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #919191;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes vibrate {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-4px); }
    40%, 80% { transform: translateX(4px); }
}

.vibrate {
    animation: vibrate 0.3s linear;
}
.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Edge */
  }