.overflow-fix-container {
    position: absolute;
    left: 0%;
    top: 0%;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.image-container {
    width: var(--image-width, 35vw);
    height: var(--image-height, 35vw);
    overflow: visible;
    background: none;
    border: none;
  }

.image-container img {
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    overflow: visible;
    position: absolute;
    pointer-events: none;
  }
.image-container.harris-image {
    overflow: visible;
    position: absolute;
    left: var(--harris-left, 10vw);
    bottom: var(--harris-bottom, 40vh);
  }

  .image-container.trump-image {
    overflow: visible;
    position: absolute;
    right: var(--trump-left, 10vw);
    bottom: var(--trump-bottom, 40vh);
  }
  

  .image-container.selected.harris-image {
    --image-width: 70vw; /* Новая ширина при выборе */
    --image-height: 70vw;
    left: 15vw;
    bottom: 30vh;
}

.image-container.selected.trump-image {
    --image-width: 70vw; /* Новая ширина при выборе */
    --image-height: 70vw;
    right: 15vw;
    bottom: 30vh;
}
.image-container.unselected.trump-image {
    right: -50vw;
}
.image-container.unselected.harris-image {
    left: -50vw;
}

  .image-container.selected:active {
    transform: scale(0.95); /* Применяется только если выбор сделан */
  }