.overflow-fix-container {
    position: absolute;
    left: 0%;
    top: 0%;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.image-container {
    width: 40vw;
    height: 40vh;
    overflow: visible;
    transition: left 1.2s ease, right 1.2s ease, transform 0.02s;
    background: none;
    border: none;
  }

.image-container img {
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: visible;
    position: absolute;
  }
.image-container.harris-image {
    overflow: visible;
    position: absolute;
    left: var(--harris-left, 0vw);
    bottom: var(--harris-bottom, 25vh);
  }

  .image-container.trump-image {
    overflow: visible;
    position: absolute;
    right: var(--trump-left, 0vw);
    bottom: var(--trump-bottom, 25vh);
  }
  
  .image-container.selected:active {
    transition: transform 0.02s;
    transform: scale(0.95); /* Применяется только если выбор сделан */
  }