/* src/Components/ButtonBar/ButtonBar.css */
.button-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh; /* Устанавливаем высоту полосы */
    background-color: #282828;
    display: flex;
    justify-content: space-around;
    align-items: center; /* Центрирование кнопок по вертикали */
    padding: 10px 0;
    border-radius: 15px 15px 0 0; /* Скругляем верхние углы полосы */
    z-index: 150;
}

.button-bar-button {
    width: 23vw; /* Устанавливаем ширину кнопок */
    height: 96%; /* Высота кнопки с учетом отступов */
    margin: 0 1vw; /* Отступы между кнопками */
    color: white;
    background: linear-gradient(to bottom, #b0b0b0, #979797);
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    position: relative;
    border-radius: 10px; /* Скругляем углы кнопок */
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 16;
    transition: all 0.1s ease;
}

.button-bar-button:active {
  background: linear-gradient(to bottom, #b0b0b0, #979797); /* Градиент при нажатии */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Возвращаем начальную тень */
  transform: translateY(1px); /* Сдвиг кнопки при нажатии */
}

.button-bar-button.chosen {
  /* Стили для выбранной кнопки */
  background: linear-gradient(to bottom, #710000, #960000); /* Цвет фона выбранной кнопки */
  color: transparent;
}

  .button-bar-button.chosen:active {
    background: linear-gradient(to bottom, #710000, #960000); /* Градиент при нажатии */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Возвращаем начальную тень */
    transform: translateY(1px); /* Сдвиг кнопки при нажатии */
  }

  .button-bar-button.chosen::after {
    content: "";
    position: absolute;
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    width: 50%; /* Установите размеры изображения */
    height: 50%; /* Установите размеры изображения */
    background-image: url('../Photoes/Cross.png'); /* Путь к вашему изображению */
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%); /* Сдвигаем на половину ширины и высоты для точного центрирования */
    pointer-events: none; /* Избегаем влияния на клики и другие события */
    z-index: 2;
  }

  .button-bar.disabled {
    pointer-events: none;
}
.button-bar-button:disabled {
  cursor: not-allowed; /* Изменяем курсор для неактивных кнопок */
}