.stats-container {
    top: 25vh;
    height: 20vh;
    width: 100vw;
    position: absolute;
}
.TR {
    right: 1%;
    text-align: right;
}
.HS {
    left: 1%;
    text-align: left;
}
.label {
    font-size: 1.2em;
    margin-bottom: 5px;
}