.App {
  text-align: center;
  overflow: hidden;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #999999;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../src/Components/Photoes/FonTap1Dark.jpeg");
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Edge */
}
button {
  overflow: hidden;
}




@keyframes float {
  0% {
      transform: translateY(0);
      opacity: 1;
  }
  100% {
      transform: translateY(-5%);
      opacity: 0;
  }
}

.float {
  animation: float 1s ease-out forwards;
  position: absolute;
  pointer-events: none;
  opacity: 0;
}



/* Отключение выделения текста и взаимодействия для определённых элементов */
.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Edge */
}

img, button, .image-container {
  outline: none;
  -webkit-tap-highlight-color: transparent; /* Mobile Safari */
}

img:active, button:active, .image-container:active {
    outline: none;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.modal-overlay.add {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Затемнение фона */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Модальное окно поверх всего */
}
.modal-content.add {
  background-size: cover; /* Изображение будет покрывать всю область */
  background-position: center; /* Центрировать изображение */
  background-repeat: no-repeat;
  background-image: url("./Components/Photoes/2Zir.jpg");
  position: relative;
  border: 1px solid #4a4a4a;
  padding-top: 12px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 18px;
  border-radius: 10px;
  text-align: center;
  width: 60vw;
  height: 50vh;
  transform: translateY(-5%);
  display: flex;
  align-items: center;
  flex-direction: column; /* Размещаем элементы вертикально */
  justify-content: space-around;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* Глубокая тень */
  animation: expand 0.3s ease-out;
}
.modal-content.add h2 {
  color: #e0e0e0;
  margin: 0; /* Убираем отступы сверху и снизу */
  font-size: 22px;
  text-shadow: 1px 1px 5px #000;
}
.modal-content.add p {
  color: #e0e0e0; /* Цвет текста */
  font-size: 16px; /* Размер шрифта */
  text-align: center; /* Центрирование текста */
  font-weight: 500; /* Полужирный шрифт */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); /* Теневой эффект */
}
.modal-content.add button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #555;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  height: 52px; /* Кнопка занимает 10% высоты модального окна */
  width: 120px;
  align-self: center; /* Центрируем кнопку по горизонтали */
  display: flex; /* Включаем Flexbox */
  justify-content: center; /* Центрируем содержимое по горизонтали */
  align-items: center; /* Центрируем содержимое по вертикали */
  text-align: center;
  backdrop-filter: blur(1px);
  box-shadow: 
      2px 4px 6px rgba(0, 0, 0, 0.4),   /* Нижняя тень */
      4px 8px 12px rgba(0, 0, 0, 0.2),  /* Более размытая нижняя тень */
      -2px -4px 6px rgba(0, 0, 0, 0.4), /* Верхняя тень */
      -4px -8px 12px rgba(0, 0, 0, 0.2); 
}
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

