/* src/Components/ShopBottomSheet/ShopBottomSheet.css */
.bottom-sheet-content {
    padding: 20px;
    background-color: rgb(43, 43, 43);
    height: 70vh; /* Высота окна 70% */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 9;
}

.bottom-sheet-content h2 {
    margin-top: 0;
}

.bottom-sheet-content button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #dddddd;
    color: rgb(50, 50, 50);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Изменение цвета полоски наверху всплывающего окна */
.rsbs-handle {
    background-color: #282828; /* Новый цвет полоски */
    border-radius: 4px; /* Скругление углов полоски */
    height: 6px; /* Высота полоски */
    width: 50px; /* Ширина полоски */
    margin: 0 auto; /* Центрирование полоски */
}
